@layer components {
  .app-button:focus,
  .app-button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  @media (prefers-color-scheme: light) {
    .app-link:hover {
      color: #747bff;
    }
    .app-button {
      background-color: #f9f9f9;
    }
  }
}

